body {
  color: red;
  background-color: blue;
}
div {
  box-sizing: border-box;
}.jj


}
d

.

body {
  color: red;
  background-color: blue;
}
div {
  box-sizing: border-box;
}.jj


}
d

.

body {
  color: red;
  background-color: blue;
}
div {
  box-sizing: border-box;
}.jj


}
d

.

body {
  color: red;
  background-color: blue;
}
div {
  box-sizing: border-box;
}.jj


}
d

.

body {
  color: red;
  background-color: blue;
}
div {
  box-sizing: border-box;
}.jj


}
d

.

body {
  color: red;
  background-color: blue;
}
div {
  box-sizing: border-box;
}.jj


}
d

.

body {
  color: red;
  background-color: blue;
}
div {
  box-sizing: border-box;
}.jj


}
d

.

body {
  color: red;
  background-color: blue;
}
div {
  box-sizing: border-box;
}.jj


}
d

.

body {
  color: red;
  background-color: blue;
}
div {
  box-sizing: border-box;
}.jj


}
d

.

